spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/board
    username: board_user
    password: board_pw
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
